@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-transparent bg-[radial-gradient(rgba(0,0,0,0.2)_1px,transparent_0)] bg-[size:20px_20px] bg-[-19px_-19px] z-[-5];
}
html {
    @apply bg-[#fafafa] bg-[size:20px_20px] bg-[-19px_-19px] z-[-5];
    background: radial-gradient(circle at 10% 20%, rgba(255, 189, 189, 0.3) 0%, rgba(255, 216, 168, 0.3) 62%, rgba(255, 248, 168, 0.3) 100.7%);
}

.hide {
    @apply hidden;
}

.node-rect {
    @apply !fill-transparent;
}

.drag-enabled:not(.dragging-active) .node.draggable .content-container {
    @apply shadow-[0_5px_5px_rgba(0,0,0,0.15)] animate-[shaking_0.5s_forwards_infinite];
}

.content-container {
    @apply shadow-lg shadow-[rgba(0,0,0,0.06)_0px_2px_4px_-1px] bg-white;
}

.dragging-activedrag-enabled .droppable .content-container {
    @apply shadow-[0_5px_5px_rgba(0,0,0,0.15)] animate-[shaking_0.5s_forwards_infinite];
}

.node.dragging .content-container {
    @apply bg-white;
}

@keyframes shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(1px, 1px) rotate(1deg); }
    50% { transform: translate(0, 0) rotate(0deg); }
    75% { transform: translate(-1px, 1px) rotate(-1deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}

.show {
    @apply !flex !opacity-100 shadow-[0_5px_5px_rgba(0,0,0,0.15)] animate-[showElement_0.1s_both,float_6s_ease-in-out_infinite_0.1s];
}

@keyframes showElement {
    0% {
        opacity: 0;
        transform: scale(0.5); /* Start small */
    }
    100% {
        opacity: 1;
        transform: scale(1); /* Full size */
    }
}

@keyframes float {
    0% {
        box-shadow: 0 5px 5px rgba(0,0,0,0.15);
        transform: translateY(0);
    }
    50% {
        box-shadow: 0 10px 7px rgba(0,0,0,0.15);
        transform: translateY(-3px);
    }
    100% {
        box-shadow: 0 5px 5px rgba(0,0,0,0.15);
        transform: translateY(0);
    }
}

#remove-button {
    @apply relative;
}

#remove-button {
    content: url("./../Svgs/threeDots.svg");
    @apply w-[30px] h-[30px] m-[-5px_-10px_0_0] relative;
}

.bin-button {
    @apply hidden opacity-0 bg-white justify-center items-center w-[25px] h-[25px] rounded-full absolute top-[-30px] right-[5px] z-[50];
}

.add-button {
    @apply hidden bg-white justify-center items-center w-[25px] h-[25px] rounded-full absolute top-[-25px] right-[-25px] z-[50];
}

.info-button {
    @apply hidden bg-white justify-center items-center w-[25px] h-[25px] rounded-full absolute top-[4px] right-[-31px] z-[50];
}

.svg-chart-container {
    @apply !h-screen;
}

@layer base {
  :root { --background: 0 0% 100%; --foreground: 240 10% 3.9%; --card: 0 0% 100%; --card-foreground: 240 10% 3.9%; --popover: 0 0% 100%; --popover-foreground: 240 10% 3.9%; --primary: 240 5.9% 10%; --primary-foreground: 0 0% 98%; --secondary: 240 4.8% 95.9%; --secondary-foreground: 240 5.9% 10%; --muted: 240 4.8% 95.9%; --muted-foreground: 240 3.8% 46.1%; --accent: 240 4.8% 95.9%; --accent-foreground: 240 5.9% 10%; --destructive: 0 84.2% 60.2%; --destructive-foreground: 0 0% 98%; --border: 240 5.9% 90%; --input: 240 5.9% 90%; --ring: 240 10% 3.9%; --chart-1: 12 76% 61%; --chart-2: 173 58% 39%; --chart-3: 197 37% 24%; --chart-4: 43 74% 66%; --chart-5: 27 87% 67%; --radius: 0.5rem;
    }
}

@layer base {
  * {
    @apply border-border;
    }
  body {
    @apply bg-background text-foreground;
    }
}

@keyframes slideLeftAndFade {
    0%{
        opacity: 0;
        transform: translateX(-30px);
    }
    50%{
        opacity: 1;
        transform: translateX(0px);
    }
    100%{
        opacity: 0;
        transform: translateX(30px);
    }

}
